section.digital-junior {
	.header-image {
		height: 200px;
		background: url("../img/digital_junior_header.jpg") no-repeat center top;
		background-size: cover;
	}
	
	/* color de la seccion */
	h1,h2, em {
		color: @naranja;
	}

	.breadcrumbs {
		li {
			color: @naranja;
		}
	}

	.subnav {
		.tabs {
			.tab {
				&.activa, &:hover {
					table {
						a {
							span {
								color: @naranja;
							}
						}
						
					}
				}
			}
		}
	}
	.leyenda {
		margin: 1rem 0;
		text-align: left;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				color: @gris-claro;
				font-size: .8rem;
				text-transform: uppercase;
				margin-right: 2rem;
				
				&.informatica, &.general {
					&:before {
						content: "";
						width: 15px;
						height: 15px;
						background: @negro;
						display: inline-block;
						margin-right: .2rem;
						position: relative;
						top: 3px;
					}
				}

				&.informatica {
					&:before {
						background: @azul;
					}
				}

				&.general {
					&:before {
						background: @verde;
					}
				}
			}

		}
	}
	table.cronograma {
		border-collapse: collapse;
		font-size: .8rem;
		width: 100%;
		margin-top: 4rem;

		td, th {
			border: 1px solid lighten(@gris-claro, 15%);
			padding: .2rem;
		}
		thead {
			th {
				background: lighten(@gris-claro, 30%);
				color: @gris-oscuro;
				font-weight: normal;

				&.no-border {
					background: transparent;
					border-left: none;
					border-top: none;
				}
			}
		}

		tbody {
			td {
				
				text-align: center;

				.icon {
					
				}

			}

			th {
				text-align: left;
				color: @blanco;

				&.azul {
					background-color: @azul;
				}

				&.verde {
					background-color: @verde;
				}
			}
		}
	}
}