section.digital-junior {
	.header-image {
		height: 200px;
		background: url("../img/digital_junior_header.jpg") no-repeat center top;
		background-size: cover;
	}
	
	/* color de la seccion */
	h1,h2, em, a {
		color: @naranja;
	}

	.breadcrumbs {
		li.actual {
			color: @naranja;
		}
	}

	.subnav {
		.tabs {
			.tab {
				&.activa, &:hover {
					table {
						a {
							span {
								color: @naranja;
							}
						}
						
					}
				}
			}
		}
	}

	.descargar{
		background: @naranja;
		color: @blanco;
		font-family: @font-oswald;
		text-transform: uppercase;
		padding: .4rem .6rem;
		border: none;
		border-radius: 4px;
		box-shadow: 0 2px 0 0 @naranja-oscuro;
		text-decoration: none;

			&.medio{
				line-height: 100px;
			}
	
	}
	.leyenda {
		margin: 1rem 0;
		text-align: left;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				color: @gris-claro;
				font-size: .8rem;
				text-transform: uppercase;
				margin-right: 2rem;
				
				&.informatica, &.general {
					&:before {
						content: "";
						width: 15px;
						height: 15px;
						background: @negro;
						display: inline-block;
						margin-right: .2rem;
						position: relative;
						top: 3px;
					}
				}

				&.informatica {
					&:before {
						background: @azul;
					}
				}

				&.general {
					&:before {
						background: @verde;
					}
				}
			}

		}
	}
	table.cronograma {
		border-collapse: collapse;
		font-size: .8rem;
		width: 100%;
		margin-top: 4rem;

		td, th {
			border: 1px solid lighten(@gris-claro, 15%);
			padding: .2rem;
		}
		thead {
			th {
				background: lighten(@gris-claro, 30%);
				color: @gris-oscuro;
				font-weight: normal;

				&.no-border {
					background: transparent;
					border-left: none;
					border-top: none;
				}
			}
		}

		tbody {
			td {
				
				text-align: center;

				.icon {
					
				}

			}

			th {
				text-align: left;
				color: @blanco;

				&.azul {
					background-color: @azul;
				}

				&.verde {
					background-color: @verde;
				}
			}
		}
	}

	/*formulario*/

	form {
		p {
			margin-bottom: 1rem;
		}

		label {
			display: block;
			clear: both;
			text-transform: uppercase;
			font-size: .9rem;
			color: @gris;
		}

		input[type=text], input[type=password]{
			border: 1px solid lighten(@gris-claro, 20%);
			padding: .4rem;
			border-radius: 4px;
			background: @blanco;
			color: @negro;
			font-family: @font-open;
			font-size: .8rem;
			width: 100%;
			box-shadow: inset 0 4px 0 0 rgba(0,0,0,.05);

			&.error {
				border-color: @rojo-oscuro;
				color: @rojo;
				background: lighten(@rojo-claro, 40%)
			}
		}

		
		.botones {
			text-align: center;
		}

		input[type=submit], input[type=reset] {
			background: @naranja;
			color: @blanco;
			font-family: @font-oswald;
			text-transform: uppercase;
			padding: .4rem .6rem;
			border: none;
			border-radius: 4px;
			box-shadow: 0 2px 0 0 @naranja-oscuro;
			margin: 0 .3rem;
		}
	}

	.grilla {
		.item {
			.titulo {
				text-align: center;
				margin: 0 0 .5rem 0;
			}

			.imagen {
				position: relative;
				overflow: hidden;

				.info {
					background: rgba(0,0,0,.75);
					position: absolute;
					color: @blanco;
					padding: .6rem;
					bottom: -100%;
					width: 100%;
					transition: all .4s ease-out;
					p {
						font-size: .7rem;
						line-height: .8rem;
					}
				}

				&:hover {
					.info {
						bottom: 0;
					}
				}
			}
			
		}
	}
	/* gestion */
	&.gestion {
		@color-borde: lighten(@gris-claro, 20%);
		@border-radius: .5rem;
		.botonera {
			padding-right: 0;
			z-index: 200;
			position: relative;
			right: -1px;
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				li {
					background: darken(@subnav_tabs_gris, 8%);
					padding: 1rem;
					font-size: .9rem;
					border-top-left-radius: @border-radius;
					border-bottom-left-radius: @border-radius;
					margin-bottom: .2rem;
					border-right: 1px solid @color-borde;

					&.activo {
						background: @blanco;
						border: 1px solid @color-borde;
						border-right: none;
					}

					a {
						display: block;
						color: @gris-oscuro;
						text-transform: uppercase;
						text-decoration: none;
					}
				}
			}
		}
		.contenido {
			border: 1px solid @color-borde;
			z-index: 100;
			position: relative;
			border-top-right-radius: @border-radius;
			border-bottom-right-radius: @border-radius;
			border-bottom-left-radius: @border-radius;
			.seccion {
				display: none;

				h2 {
					margin: 1rem 0;
					text-transform: uppercase;
				}
			}
		}
	}

	ul.lista-materiales {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			margin: 0;
			font-size: .9rem;
			margin-bottom: .2rem;

			&:before {
				content: "\e604";
				font-family: "icomoon";
				margin-right: .5rem;
				color: @gris-claro;
			}
		}
	}
}