section.escuela {
	@color-seccion: @violeta;
	.header-image {
		height: 200px;
		background: url("../img/escuela_header.jpg") no-repeat center top;
		background-size: cover;
	}
	
	h1,h2, .destacado, .color {
		color: @color-seccion;
	}


	&.tpl-2-col {
		.secundario {
			background: @color-seccion;
			color: @blanco;

			em {
				color: lighten(@color-seccion, 50%);
			}
		}
	}

	.breadcrumbs {
		li.actual {
			color: @color-seccion;
		}
	}

	.subnav {
		.tabs {
			.tab {
				&.activa, &:hover {
					table {
						a {
							span {
								color: @color-seccion;
							}
						}
						
					}
				}
			}
		}
	}

	.experiencias {
		.slides-pager {

			span {
				
				background: lighten(@color-seccion, 15%);
				color: lighten(@color-seccion, 15%);

				&.cycle-pager-active {
					background: @color-seccion;
					color: @color-seccion;
				}
			}
		}
	}

	.proyectos {
		ul.tabs {
			border-bottom: 1px solid @color-seccion;

			li {
				border: 1px solid @color-seccion;
				color: @color-seccion;

				&.activa {
					background: @color-seccion;
					color: @blanco;
				}
			}
		}

		.proyecto {
			.inner {
				h4 {
					color: @color-seccion;
				}

				.info {
					a {
						background: @color-seccion;
						color: @blanco;
					}
				}
			}
		}
	}

	.entrevistas {
		.entrevista {

			.titulo {
				background: @color-seccion;
				color: @blanco;

			}

			.contenido {

				h5{
					color: @color-seccion;
				}
			}
		}
	}
}



