
section.guia_estilos {
	.row {
		&.color {
			&.azul {
				.column {
					&:nth-child(1) {
						background: @azul-claro;
					}

					&:nth-child(2) {
						background: @azul;
					}

					&:nth-child(3) {
						background: @azul-oscuro;
					}
				}
			}

			&.naranja {
				.column {
					&:nth-child(1) {
						background: @naranja-claro;
					}

					&:nth-child(2) {
						background: @naranja;
					}

					&:nth-child(3) {
						background: @naranja-oscuro;
					}
				}
			}

			&.gris {
				.column {
					&:nth-child(1) {
						background: @gris-claro;
					}

					&:nth-child(2) {
						background: @gris;
					}

					&:nth-child(3) {
						background: @gris-oscuro;
					}
				}
			}

			.column {
				height: 10rem;
				color: @blanco;
			}
		}

		&.header {
			background: @header-azul;
			color: @header-azul-claro;
			padding: 1rem inherit;
		}

		&.footer {
			background: @footer-gris;
			color: @blanco;
			padding: 1rem inherit;
		}
	}
}