section.home {
	.cycle-slideshow {
		wdith: 100%;

		.cycle-prev, .cycle-next {
			position: absolute;
			display: inline-block;
			color: @gris-oscuro;
			top: 228px;
			font-size: 4rem;
			border: 4px solid @gris-oscuro;
			padding: .5rem;
			z-index: 800;
			text-align: center;
			width: 4rem;
			height: 4rem;
			background: fade(@blanco, 75%);
			border-radius: 50%;
			cursor: pointer;

			span {
				display: block;
				line-height: 2.5rem;
			}
		}

		.cycle-prev {
			left: 1.5rem;
		}

		.cycle-next {
			right: 1.5rem;
		}


		.slide {
			min-height: 488px;
			height: 488px;
			background-position: center top;
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;

			.row {
				min-height: 488px;
				height: 488px;
				
				.column:first-child {
					padding-left: 0;
				}

				.column:last-child {
					padding-right: 0;
				}

				.contenido {
					background-color: rgba(255,255,255,.7);
					min-height: 488px;
					height: 488px;
					position: relative;


					.interno {
						padding: 2rem;
						wdith: 100%;
						position: absolute;
						left: 0;

						h1 {
							color: @gris-oscuro;
							text-transform: uppercase;
							font-size: 2.5rem;
							line-height: 2.7rem;
						}

						p {
							font-family: @font-oswald;
						}

						a.boton {
							display: inline-block;
							padding: 1rem;
							color: @blanco;
							text-decoration: none;
							background-color: @gris-oscuro;
							font-size: 1.5rem;
							font-family: @font-oswald;
						}
					}
				}
			}
		}
	}

	.accesos {
		padding: 4rem 0;
		.column {
			
			min-height: 28rem;
			border-left: 1px solid @azul;

			&:first-child {
				border-left: none;
			}

			.icon {
				text-align: center;
				span {
					color: @azul;
					font-size: 3.5rem;
					display: inline-block;
					width: 7.5rem;
					height: 7.5rem;
					line-height: 6rem;
					border: 6px solid @azul;
					border-radius: 50%;
				}
			}

			h2 {
				font-size: 1.5rem;
				line-height: 1.6rem;
				color: @azul;
				text-transform: uppercase;
				text-align: center;
			}

			.texto {
				padding: 0 1rem;
			}

			.cta {
				text-align: right;
				margin-top: 1rem;
				padding: 0 2rem;

				a {
					text-decoration: none;
					background: @azul;
					color: @blanco;
					text-transform: uppercase;
					font-family: @font-oswald;
					display: inline-block;
					padding: .2rem .4rem;
					position: relative;
					padding-right: 1.5rem;

					.mas {
						font-size: 2rem;
						position: absolute;
						right: 6px;
						bottom: 7px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1230px) {
	section.home {
		.cycle-slideshow {
			.cycle-prev, .cycle-next {
				top: auto;
				bottom: .5rem;
				left: 50%;
				right: 50%;
			}

			.cycle-prev {
				margin-left: -3rem;
			}

			.cycle-next {
				margin-left: 3rem;
			}
		}
	}
}