section.modelo1a1 {

	@color-seccion: @azul;
	
	.header-image {
		height: 200px;
		background: url("../img/modelo1a1_header.jpg") no-repeat center top;
		background-size: cover;
	}
	
	/* color de la seccion */
	h1,h2, em, a, .destacado {
		color: @color-seccion;
	}

	.breadcrumbs {
		li.actual {
			color: @color-seccion;
		}
	}

	.subnav {
		.tabs {
			.tab {
				&.activa, &:hover {
					table {
						a {
							span {
								color: @color-seccion;
							}
						}
						
					}
				}
			}
		}
	}

	.title-icon {
		font-size: 4rem;
		line-height: 0;
		position: relative;
		top: .6rem;
		margin-right: 1rem;
	}

	.grilla {
		.categoria {
			.icon {
				text-align: center;

				span {
					color: @color-seccion;
					font-size: 9rem;
					display: inline-block;
					width: 11.5rem;
					height: 11.5rem;
					line-height: 10.5rem;
					border: 6px solid @color-seccion;
					border-radius: 50%;
				}

			}

			.name {
				text-align: center;
				font-size: 2rem;
				font-family: @font-oswald;
				text-transform: uppercase;
				margin-top: 1rem;
				color: @color-seccion;
			}

			.link {
				text-align: center;
				margin-top: -1rem;
				padding: 0 2rem;

				a {
					text-decoration: none;
					background: @color-seccion;
					color: @blanco;
					text-transform: uppercase;
					font-family: @font-oswald;
					display: inline-block;
					padding: .2rem .4rem;
					position: relative;
					padding-right: 1.5rem;

					.mas {
						font-size: 2rem;
						position: absolute;
						right: 6px;
						bottom: 7px;
					}
				}
			}
		}
	}

	.proyectos {
		
		margin-top: 2rem;

		.proyecto {
			.inner {
				h4 {
					color: @color-seccion;
				}

				.info {
					a {
						background: @color-seccion;
						color: @blanco;
					}
				}
			}
		}
	}
}