/* apply a natural box layout model to all elements */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	font-family: @font-open;
	color: @negro;
}

h1,h2,h3,h4,h5 {
	font-family: @font-oswald;
	font-weight: normal;
	margin-top: 0;
}
.destacado{
	font-weight: bold;
}

header {
	background: @header-azul;
	padding: 1.5625rem 0;

	nav {
		text-align: right;
		& > ul {
			list-style: none;
			margin: 0;
			padding: 0;
			.vc-container();

			& > li {
				font-family: @font-oswald;
				font-size: 12px;
				line-height: 15px;
				margin: 0 1rem;
				text-align: left;
				position: relative;
				.vc-element();

				a {
					display: block;
					color: @blanco;
					text-decoration: none;
					background: transparent;
					border-radius: 4px;
					padding: 10px;
					min-height: 30;
				}

				/* sub */
				& > ul {
					margin: 0;
					padding: .8rem .5rem .5rem;
					list-style: none;
					background-color: @blanco;
					position: absolute;
					left: 0;
					border-radius: 4px;
					top: 90%;
					display: none;
					box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
					z-index: @nav-sub-menu-z-index;

					li {
						display: block;
						border-bottom: 1px dashed fadeout(@gris-claro, 50%);
						
						a {
							color: @negro;
							display: block;
							text-decoration: none;
							min-width: 200px;
							max-width: 200px;

							&:hover {
								color: @blanco;
								background-color: @header-azul;
							}
						}

						&:last-child {
							border-bottom: none;
						}
					}

				}

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}

				&:hover {
					a {
						background-color: @blanco;
						color: @negro;
					}

					ul {
						display: block;
					}
				}
			}
		}
	}
}

footer {
	background-color: @gris;
	padding: 1rem inherit;

	.col {
		display: inline-block;
		float: left;
		margin-right: 1rem;
	}

	p {
		color: @blanco;
		font-size: .7rem;
		line-height: .9rem;
		text-transform: uppercase;
	}
}

// estilos para template de 2 columnas

section.tpl-2-col {

	.contenedor {
		padding: 2rem 0;
	}

	h1 {
		letter-spacing: -1px;
		text-transform: uppercase;
		margin: 0 0 .4rem;
	}

	h2 {
		font-size: 1.4rem;
		margin-top: 2rem;
	}

	p {
		font-size: .875rem
	}

	blockquote {
		margin: 1rem 0;
		font-style: italic;
		color: @gris-claro;
	}

	.breadcrumbs {
		list-style: none;
		margin: 0;
		padding: 0;
		font-family: @font-oswald;
		text-transform: uppercase;
		font-size: 11px;

		li {
			display: inline-block;
			color: @gris;
			list-style: none;
			margin: 0;
			padding: 0;

			&:before {
				content: "\003e"; 
				margin: 0 .5rem;
				position: relative;
				bottom: .1rem;
				color: @gris;
			}

			&:first-child:before {
				content: "";
				margin: 0;
			}

			a {
				text-decoration: none;
				color: @gris;

				&:hover {
					text-decoration: underline;
					}
			}
		}
	}

	.principal{

		p{ 
			text-align: justify;	
		}
	}

	.secundario {

		margin-top: 72px;

		h2 {
			text-transform: uppercase;
			margin-top: 0;
		}
	}

}