/* apply a natural box layout model to all elements */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	font-family: @font-open;
	color: @negro;
}

h1,h2,h3,h4,h5 {
	font-family: @font-oswald;
	font-weight: normal;
	margin-top: 0;
}
.destacado{
	font-weight: bold;
}

header {
	background: @header-azul;
	padding: 1.5625rem 0;

	nav {
		text-align: right;
		& > ul {
			list-style: none;
			margin: 0;
			padding: 0;
			.vc-container();

			& > li {
				font-family: @font-oswald;
				font-size: 12px;
				line-height: 15px;
				margin: 0 1rem;
				text-align: left;
				position: relative;
				.vc-element();

				a {
					display: block;
					color: @blanco;
					text-decoration: none;
					background: transparent;
					border-radius: 4px;
					padding: 10px;
					min-height: 30;
				}

				/* sub */
				& > ul {
					margin: 0;
					padding: .8rem .5rem .5rem;
					list-style: none;
					background-color: @blanco;
					position: absolute;
					left: 0;
					border-radius: 4px;
					top: 90%;
					display: none;
					box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
					z-index: @nav-sub-menu-z-index;

					li {
						display: block;
						border-bottom: 1px dashed fadeout(@gris-claro, 50%);
						
						a {
							color: @negro;
							display: block;
							text-decoration: none;
							min-width: 200px;
							max-width: 200px;

							&:hover {
								color: @blanco;
								background-color: @header-azul;
							}
						}

						&:last-child {
							border-bottom: none;
						}
					}

				}

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}

				&:hover {
					a {
						background-color: @blanco;
						color: @negro;
					}

					ul {
						display: block;
					}
				}
			}
		}
	}
}

footer {
	background-color: @gris;
	padding: 1rem inherit;

	.col {
		display: inline-block;
		float: left;
		margin-right: 1rem;
	}

	p {
		color: @blanco;
		font-size: .7rem;
		line-height: .9rem;
		text-transform: uppercase;
	}
}

// estilos para template de 2 columnas

section.tpl-2-col {

	.contenedor {
		padding: 2rem 0;
	}

	h1 {
		letter-spacing: -1px;
		text-transform: uppercase;
		margin: 0 0 .4rem;
	}

	h2 {
		font-size: 1.4rem;
		margin-top: 2rem;
	}

	blockquote {
		margin: 1rem 0;
		font-style: italic;
		color: @gris-claro;
	}

	.breadcrumbs {
		list-style: none;
		margin: 0;
		padding: 0;
		font-family: @font-oswald;
		text-transform: uppercase;
		font-size: 11px;

		li {
			display: inline-block;
			color: @gris;
			list-style: none;
			margin: 0;
			padding: 0;

			&:before {
				content: "\003e"; 
				margin: 0 .5rem;
				position: relative;
				bottom: .1rem;
				color: @gris;
			}

			&:first-child:before {
				content: "";
				margin: 0;
			}

			a {
				text-decoration: none;
				color: @gris;

				&:hover {
					text-decoration: underline;
					}
			}
		}
	}

	.principal{

		padding-right: 2rem;

		p {
			text-align: justify;
			font-size: .875rem;
		}
	}

	.secundario {

		margin-top: 72px;
		border-radius: .35rem;
		color: @negro;
		padding: 1rem;
		font-size: .8rem;

		h2 {
			text-transform: uppercase;
			margin-top: 0;
		}
		.video img{
			border: solid 1px @blanco;
		}

	}
}

.proyectos {
	ul.tabs {
		width: 100%;
		border-bottom: 1px solid @gris-claro;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;
			padding: .4rem 1rem;
			margin-left: .4rem;
			border: 1px solid @gris-claro;
			border-top-left-radius: .35rem;
			border-top-right-radius: .35rem;
			cursor: pointer;

			&:first-child {
				margin-left: 0;
			}

			&.activa {
				background: @gris;
				color: @blanco;
			}
		}
	}

	.tab-content {
		display: none;
	}

	.proyecto {
		.inner {
			border: 1px solid #d5d5d5;
			border-radius: .35rem;
			background: #f5f5f5;
			padding: 1rem;

			h4, h6 {
				margin: 0;
			}

			h4 {
				color: @gris;
			}

			.info {
				margin-top: 1.2rem;

				p {
					font-size: .8rem;
					margin: 0 0 .5rem;
					line-height: 1.1rem;
				}

				a {
					display: inline-block;
					background: @gris;
					color: @blanco;
					padding: .3rem .4rem;
					border-radius: .15rem;
					text-transform: uppercase;
					text-decoration: none;
					font-weight: bold;
					font-size: .65rem;
					line-height: .65rem;
				}
			}
		}
	}
}

.experiencias {

	.slide {
		@slides-gris: lighten(@gris-claro, 20%);
		background: @slides-gris;
		padding: 1rem;
		border-radius: .5rem;
		position: relative;

		&:before, &:after {
			color: darken(@slides-gris, 15%);
			display: inline-block;
			font-family: Georgia, serif;
			font-size: 10rem;
			line-height: 1rem;
			position: absolute;
		}

		&:before {
			content: "\201C";
			left: 0;
			top: 4rem;
		}
		

		&:after {
			content: "\201D";
			right: 0;
			bottom: -1.5rem;
		}

		.texto {
			p {
				font-style: italic;
				line-height: 1.2rem;
				margin-left: 3rem;
			}
		}

		.autor {
			text-align: right;
			font-weight: bold;
			font-family: @font-oswald;
			text-transform: uppercase;
			font-size: .8rem;
			color: darken(@slides-gris, 35%);
			margin-right: 3rem;
		}
	}

	.slides-pager {
		text-align: center;
		margin: 1rem 0;
		height: 1.4rem;

		span {
			display: inline-block;
			width: 1rem;
			height: 1rem;
			border-radius: 50%;
			background: lighten(@gris-claro, 15%);
			color: lighten(@gris-claro, 15%);
			margin: 0 .2rem;
			cursor: pointer;
			position: relative;
			transition: all .4s ease-out;
			bottom: 0;

			&.cycle-pager-active {
				width: 1.4rem;
				height: 1.4rem;
				bottom: .2rem;
				background: @gris-claro;
				color: @gris-claro;
			}
		}
	}
}