/* colores genericos */
@azul: #4b7bbd;
@azul-claro: lighten(@azul, 10%);
@azul-oscuro: darken(@azul, 10%);

@naranja: #f1971d;
@naranja-claro: lighten(@naranja, 10%);
@naranja-oscuro: darken(@naranja, 10%);

@gris: #707073;
@gris-claro: lighten(@gris, 10%);
@gris-oscuro: darken(@gris, 10%);

@blanco: #fff;
@negro: #333;

/* colores header */
@header-azul: #02243f;
@header-azul-claro: #5898e2;

/* colores footer */
@footer-gris: #4f4f4f;

/* tipografias */
@font-open: "Open Sans", sans-serif;
@font-oswald: "Oswald", sans-serif;

/* auxiliares */
@nav-sub-menu-z-index: 100;