<div class="column medium-12 principal">
	<div class="row">
		<div class="column small-6">
			<h1>Proyectos</h1>
		</div>
		<div class="column small-6"></div>
	</div>
	<div class="row">
		<div class="column small-12">
			<ul class="small-block-grid-1 large-block-grid-3 grilla">
				<li class="categoria"ng-repeat="categoria in categorias">
					<p class="icon">
						<span class="icon" ng-class="'icon-' + categoria.slug"></span>	
					</p>
					<p class="name">{{ categoria.nombre }}</p>
					<p class="link">
						<a href="#/categoria/{{categoria.slug}}" ng-click="setCategory(categoria)">ver <span class="mas">+</span></a>
					</p>
					
				</li>
			</ul>
		</div>
	</div>
</div>